name: npm publish

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  publish-npm:
  environment: publish-npm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '20.x'
          registry-url: https://registry.npmjs.org/
      - run: npm install
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-gpr:
    environment: publish-gpr
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://npm.pkg.github.com'
      - run: npm install
      - run: npm run build
      - name: Add scope to package name
        run: |
          PACKAGE_NAME=$(jq -r .name package.json)
          SCOPE="@$(echo ${GITHUB_ACTOR} | tr '[:upper:]' '[:lower:]')"
          jq ".name = \"${SCOPE}/${PACKAGE_NAME}\"" package.json > temp.json
          mv temp.json package.json
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
